<!-- src/app/about/about.component.html -->
<section id="about" class="py-32 bg-white">
    <h2 class="text-3xl font-bold text-gray-800 text-center">About Me</h2>
    <div class="text-lg text-gray-600 mt-4 max-w-2xl mx-auto text-center">
        <p>I want to be the one that know all the thing. From frontend to the backend.</p>
        <p>From local to the cloud. From architecture to the security. But to be realistic, I dream</p>
        <p>to be a <a class="underline decoration-sky-500/30">cybersecurity expert</a> and of course you must know how the cyber works.</p>
        <p>A big goal and here I am starting my journey with <a class="underline decoration-sky-500/30">software development.</a></p>
    </div>  
</section>
