<!-- src/app/home/home.component.html -->
<section id="home" class="relative text-center py-80 bg-gray-100" style="background-image: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExaTMwczIzbGI3ejQxb3B5b2Z3Z21vdG05YXc4NGhodmZpMWh5cHF5eiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/N3yLGQ1oMYfGU/giphy.gif'); background-size: cover; background-position: center;">
    <div class="absolute inset-0 bg-black opacity-50"></div> <!-- Dark overlay for better text visibility -->
    
    <div class="relative z-10"> <!-- Ensure text is on top of overlay -->
        <h1 class="text-2xl text-white">Welcome to My Portfolio</h1>
        <p class="text-4xl font-bold text-white mt-4">Hi, I'm Khairul Zamidi</p>
    </div>
</section>
